.contInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  font-size: 1.3rem;
}

.description {
  padding: 0.5rem 2rem 0.5rem 2rem;
}

.techH2 {
  text-align: "center";
  padding: 1rem;
}

.techImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid white;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  width: 40rem;
}
