.proyectsContain {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 3em;
}

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}
.disclamer{
 font-size: .95git addrem;
}

.cardStyles{
  padding: 1em;
  border-radius: 1em;
  border: solid grey 1px;
  margin: 0.5em;
  font-size: 1em;
  flex-basis: calc(30% - 1em);
  width: 20rem;
  height: fit-content;
}

.image {
  width: 15em;
  height: auto;
  border-radius: 1em;
}

.titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 700px) {
  .proyectsContain,
  .projects,
  .cardsContainer,
  .card,
  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:auto;
  }

  .cardsContainer {
    flex-wrap: wrap; /* Permitir que las cards se envuelvan en múltiples líneas */
    justify-content: space-evenly; /*Alinear las cards en el centro horizontalmente */
  }

  .card {
    width: 100%; /* Ancho de cada card (ajustable según tus necesidades) */
    margin: .2rem; /* Margen entre las cards (ajustable según tus necesidades) */
  }

  .image {
    width: 10em;
    height: auto;
    border-radius: 1em;
  }
  .webCard{
    padding: .3rem;
    width: 30rem;
  }
}

